.App {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.content {
  flex: 1;
}
@media only screen and (max-width: 320px) {
  .content {
    flex: 0.8;
  }
}
@media only screen and (min-width: 1024px) {
  .content {
    flex: 0.6;
  }
}
.results, .breachDetail {
  padding: 10px 0;
}